* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	/* COLORS */
	--font-color: white;

	/* gray */
	--current-bg-color: 227;
	/* will change using event handlers using js, default is gray */
	--bg-depth: 10%;
	/* this value determines the luminousity of the color, could be set manually or using js */
	--bg-color: hsl(var(--current-bg-color), 20%, var(--bg-depth))
}

@font-face {
	font-family: "San Francisco";
	font-weight: 400;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

body {
	/* GRAY */
	background-color: hsla(227, 25%, 20%, 1);
	background: radial-gradient(circle at center,
			hsl(227, 20%, 50%),
			hsl(227, 20%, 35%),
			hsl(227, 20%, 25%),
			hsl(227, 20%, 20%),
			hsl(227, 20%, 10%));

	height: 100%;
	width: 100%;
	/* PURPLE */

	/* background-color: hsla(245, 25%, 20%, 1);
  background: radial-gradient(
    circle at center,
    hsl(245, 20%, 50%),
    hsl(245, 20%, 35%),
    hsl(245, 20%, 25%),
    hsl(245, 20%, 20%),
    hsl(245, 20%, 10%)
  ); */

	font-family: "San Francisco";
}

#phoneDes {
	display: grid;
	grid-template-columns: 18% 35% 47%;
	height: 100vh;
	color: var(--font-color);
}

h2 {
	font-size: 2.3rem;
}

#info {
	display: flex;
	justify-content: center;
	/* align-items: end; */
	flex-direction: column;
}

#info h3:first-of-type {
	margin-top: 2rem;
	/* margin-bottom: 1rem; */
	font-size: 1.5rem;
}

#info h3,
h2,
div {
	margin-right: auto;
}

#info p {
	width: 80%;
	margin: 1rem 0;
	color: rgb(175, 175, 175);
}

h3:last-of-type {
	margin: 1rem 0;
}

/* Button Styles */
#info button {
	display: inline-block;
	padding: 10px 28px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	background-color: transparent;
	color: white;
	border: 1px solid gray;
	cursor: pointer;
	margin: 0.1rem;
}

#info button:nth-of-type(1):hover {
	background-color: #444341;
}



#info button:nth-of-type(2):hover {
	background-color: #0e362c;
}

#info button:nth-of-type(3):hover {
	background-color: #4a4251;
}

#info button:hover {
	background-color: #0c0c0ce5;
}

#info button:active {
	background-color: #1f618d;
}



/*#image div {
  position: absolute;
  animation-duration: 0.8s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-fill-mode: forwards;
  top: 50%;
  right: 10%;
}

#iphone__black {
  animation-play-state: paused;
  transform: translate(-50%, -50%);
}

#iphone__purple {
  transform: scale(0.2) rotate(90deg) translate(300px) rotate(-90deg) translateX(300px) translate(-50%, -50%);
}

*/
#image img {
	width: 220px;
}


@keyframes btmToMidAnim {
	0% {
		transform: scale(0.2) rotate(90deg) translate(300px) rotate(-90deg) translateX(300px) translate(-50%, -50%);
	}

	100% {
		transform: scale(1) rotate(180deg) translate(300px) rotate(-180deg) translateX(300px) translate(-50%, -50%);
	}
}


@keyframes midToTopAnim {
	from {
		transform: rotate(180deg) translate(300px) rotate(-180deg) translateX(300px) translate(-50%, -50%);
	}

	to {
		transform: scale(0.2) rotate(90deg) translateY(300px) translate(-300px) rotate(-90deg) translateX(300px) translate(-50%, -50%);
		top: 0%;
	}
}

/*downwards*/

@keyframes topToMidAnim {
	to {
		transform: rotate(180deg) translate(300px) rotate(-180deg) translateX(300px) translate(-50%, -50%);
	}

	from {
		transform: scale(0.2) rotate(90deg) translateY(300px) translate(-300px) rotate(-90deg) translateX(300px) translate(-50%, -50%);
		top: 0%;
	}
}

@keyframes midToBtmAnim {
	to {
		transform: scale(0.2) rotate(90deg) translate(300px) rotate(-90deg) translateX(300px) translate(-50%, -50%);
	}

	from {
		transform: scale(1) rotate(180deg) translate(300px) rotate(-180deg) translateX(300px) translate(-50%, -50%);
	}
}

/*JS CLASSES*/
.btmToMid {
	animation-name: btmToMidAnim;
}

.midToTop {
	animation-name: midToTopAnim;
}

.topToMid {
	animation-name: topToMidAnim;
}

.midToBtm {
	animation-name: midToBtmAnim;
}

.swiper-container {
	width: 100vw;
	height: 100vh;
}

.swiper-wrapper {
	width: 100%;
	height: 100%;
}

/*SWIPER ANIMATIONS*/


/* .prev,
.next {
  filter: blur(5px);
  scale: 0.2;
}

.active {
  filter: none;
  scale: 1;
} */

/* Swiper classes */
.products-container {
	overflow: hidden;
	width: 80%;
}

.swiper-slide-active {
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	animation-fill-mode: forwards;
	animation-name: csa;
}

@keyframes customAnimation {
	from {
		transform: scale(0.2) translateX(300px) translateY(100px) translate(-50%, -50%);
	}

	to {
		transform: scale(1) translate(300px) translateX(-100px) translateY(100px) translate(-50%, -50%);
	}
}

@keyframes csa {
	from {
		translate: scale(1);
		opacity: 100%;
	}

	to {
		translate: scale(0.2);
		scale: 0.4;
	}
}