* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--h2Size: 2.3rem;
	--h3Size: 1.5rem;
	--btnFntSize: 1rem;
	--font-color: white;
}

@font-face {
	font-family: "San Francisco";
	font-weight: 400;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

body {
	height: 100%;
	width: 100%;
	font-family: "San Francisco";
}

#phoneDes {
	display: grid;
	grid-template-columns: 1fr 1fr;
	color: var(--font-color);
}

h2 {
	font-size: var(--h2Size);
}

#info {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-left: 8vw;
}

#info h3:first-of-type {
	margin-top: 2rem;
	font-size: var(--h3Size);
}

#info h3,
h2,
div {
	margin-right: auto;
}

#info p {
	width: 80%;
	margin: 1rem 0;
	color: rgb(175, 175, 175);
}

h3:last-of-type {
	margin: 1rem 0;
}

#info button {
	display: inline-block;
	padding: 10px 28px;
	font-size: var(--btnFntSize);
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	background-color: transparent;
	color: white;
	border: 1px solid gray;
	cursor: pointer;
	margin: 0.1rem;
}

#info button:nth-of-type(1):hover {
	background-color: #444341;
}

#info button:nth-of-type(2):hover {
	background-color: #0e362c;
}

#info button:nth-of-type(3):hover {
	background-color: #4a4251;
}

#info button:hover {
	background-color: #0c0c0ce5;
}

#info button:active {
	background-color: #1f618d;
}

#image img {
	max-width: 200px;
	height: auto;
}

@keyframes btmToMidAnim {
	0% {
		transform: scale(0.2) rotate(90deg) translate(300px) rotate(-90deg) translateX(300px) translate(-50%, -50%);
	}

	100% {
		transform: scale(1) rotate(180deg) translate(300px) rotate(-180deg) translateX(300px) translate(-50%, -50%);
	}
}

.swiper-container {
	width: 100vw;
	height: 100vh;
}

.swiper-wrapper {
	width: 100%;
	height: 100%;
}

.products-container {
	padding-left: 8vw;
	overflow-x: hidden;
	width: 100%;
}

#image .swiper-wrapper .swiper-slide {
	display: flex;
	position: relative;
	transition: transform 0.3s ease;
}

.swiper-slide-active {
	scale: 1.5;
	left: 350px;
	animation-duration: 1s;
	transform: translateX(0);
	animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	animation-fill-mode: forwards;
}

.swiper-slide-next,
.swiper-slide-prev {
	scale: 0.4;
	transform: translateX(100);
	filter: blur(5px);
}

.swiper-slide-prev.swiper-slide-active {
	transform: translateX(0);
}

.animated-slide {
	animation: slideAnimation 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.animated-slide-back {
	animation: slideAnimationBack 1s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes slideAnimation {
	from {
		/* Define the starting position for the slide */
		transform: translate(-16%, 69%) scale(0.3);
	}

	to {
		/* Define the ending position for the slide */
		transform: translate(0) scale(1);
	}
}

@keyframes slideAnimationBack {
	from {
		/* Define the starting position for the slide */
		transform: translate(-16%, -69%) scale(0.3);
	}

	to {
		/* Define the ending position for the slide */
		transform: translate(0) scale(1);
	}
}

@media (max-width: 750px) {

	.products-container {
		padding-left: 0vw;
	}

	#info p {
		max-width: 100%;
	}

	@keyframes slideAnimation {
		from {
			transform: scale(0.3);
		}

		to {
			transform: scale(1);
		}
	}

	@keyframes slideAnimationBack {
		from {
			transform: scale(0.3);
		}

		to {
			transform: scale(1);
		}
	}
}


@media (max-width : 680px) {
	:root {
		--h2Size: 2rem;
		--h3Size: 1.3rem;
		--btnFontSize: .9rem;
	}

	#info p {
		font-size: .9rem;
	}
}

@media (max-width : 600px) {

	#info p {
		width: 80%;
	}

	.products-container {
		padding-left: 0;
	}

}