@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--pSize: 1rem;
	--h2Size: 2.3rem;
	--h3Size: 1.5rem;
	--btnFntSize: 1rem;
	--font-color: white;
}

body {
	height: 100%;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}

#phoneDes {
	display: grid;
	grid-template-columns: 1fr 1fr;
	color: var(--font-color);
	place-items: center;
}

h2 {
	font-size: var(--h2Size);
}

#info {
	padding-left: 8vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#heading {
	width: 90%;
}

.fade-out {
	opacity: 0;
	transition: opacity 0.3s ease-out;
}

.fade-in {
	opacity: 1;
	transition: opacity 0.3s ease-in;
}


#info h3:first-of-type {
	margin-top: 2rem;
}

h2 {
	font-size: var(--h2Size);
}

#info h3,
div {
	font-size: var(--h3Size);
	margin-right: auto;
}

#info p {
	font-size: var(--pSize);
	width: 80%;
	margin: 1rem 0;
	or: rgb(175, 175, 175);
}

h3:last-of-type {
	margin: 1rem 0;
}

#infoText {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	min-height: 250px;
}

#buttons {
	height: 40px;
	margin-top: 1rem;
	display: flex;
	flex-wrap: wrap;
	flex: 0 0 auto;
	gap: 0.1rem;
}

#buttons button:hover {
	background-color: hsl(227, 10%, 35%);
}

#buttons button:active {
	background-color: hsl(227, 10%, 55%);
}

#buttons button:focus {
	outline: 1px solid white;
}

#buttons button {
	flex: 1;
}

#button:last-child {
	flex-basis: 100%;
}

#info button {
	display: inline-block;
	padding: 10px 28px;
	font-size: var(--btnFntSize);
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	border-radius: 3px;
	background-color: transparent;

	#info #infoText #heading {
		margin-top: 1rem;
	}

	color: white;
	border: 1px solid gray;
	cursor: pointer;
	margin: 0.1rem;
}

#image img {
	max-height: 30dvh;
}

.swiper-container {
	width: 100vw;
	height: 100dvh;

}

.swiper-wrapper {
	width: 100%;
	height: 100%;
}

.products-container {
	padding-left: 4vw;
	overflow: hidden;
	width: 100%;
}

#image .swiper-wrapper .swiper-slide {
	display: flex;
	transition: transform 0.3s ease;
}

.swiper-slide-active {
	scale: 1.5;
	left: 30vw;
	animation-duration: 1s;
	transform: translateX(0);
	animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	animation-fill-mode: forwards;
}

.swiper-slide-next,
.swiper-slide-prev {
	scale: 0.4;
	transform: translateX(100);
	filter: blur(9px);
}

.swiper-slide-prev.swiper-slide-active {
	transform: translateX(0);
}

.animated-slide {
	animation: slideAnimation 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.animated-slide-back {
	#info p {
		margin: 0;
		margin-top: 1rem;
	}

	animation: slideAnimationBack 1s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes slideAnimation {
	from {
		transform: translate(-16%, 69%) scale(0.3);
	}

	to {
		transform: translate(0) scale(1);
	}
}

@keyframes slideAnimationBack {
	from {
		transform: translate(-16%, -69%) scale(0.3);
	}

	to {
		transform: translate(0) scale(1);
	}
}


@media (max-width: 768px) {

	:root {
		--h2Size: 2rem !important;
		--h3Size: 1.3rem !important;
		--pSize: 0.8rem !important;
		--btnFntSize: 0.9rem !important;
	}

	.swiper-slide-next,
	.swiper-slide-prev {
		visibility: hidden;
	}

	.products-container {
		padding-left: 0vw;
	}

	#info p {
		max-width: 100%;
	}

	#info h3,
	p,
	div {
		margin: 0;
	}

	#image img {
		transform: translateX(-38px) scale(0.9);
	}

	#info {
		align-content: center;
		flex-wrap: wrap;
	}
}

@media (max-width : 700px) {
	:root {
		--pSize: .8rem;
		--h2Size: 2rem;
		--h3Size: 1.3rem;
		--btnFontSize: .5rem;
	}

	#image img {
		transform: translateX(-28px) scale(0.9);
		overflow: visible;
	}
}

@media (max-width : 600px) {

	@keyframes slideAnimation {
		from {
			transform: scale(0.3);
		}

		to {
			transform: scale(1);
		}
	}

	@keyframes slideAnimationBack {
		from {
			transform: scale(0.3);
		}

		to {
			transform: scale(1);
		}
	}

	#phoneDes {
		display: flex;
		flex-direction: column-reverse;
		height: 100dvh;
	}

	:root {
		--h2Size: 2rem;
		--h3Size: 1.3rem;
		--btnFontSize: .9rem;
	}

	#info {
		padding: 0 1rem;
		margin: 0 0 2rem;
		align-items: center;
	}

	#infoText {
		min-height: 20dvh;
	}

	#infoText,
	#buttons {
		width: 90%;
	}

	#info #infoText h2,
	#info #infoText h3 {
		width: 100%;
	}

	#info #infoText #heading {
		margin-top: 1rem;
	}

	#info p {
		margin: 0;
		margin-top: 1rem;
	}

	.swiper-slide {
		justify-content: center;
	}

	.swiper-slide-active {
		left: 0;
	}

	.products-container {
		padding: 0;
		padding-top: 30dvh;
		height: 50dvh;
	}

	.swiper-container {
		width: inherit;
		height: inherit;
	}

	#image img {
		transform: translateY(-80px) scale(0.9);
	}
}